.SpotSearchOuterContainer {
    padding-top: 70px;
    width:100%;
    display: flex;
    justify-content: center;
}

.SpotSearchContainer {
    
}

.spotsSearchItems {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.spotsSearchItems > li {
    width: 49%;
    padding: 20px 0 0 20px;
    box-sizing: border-box;
}

.SpotSearchItemContainer {
    width:100%;
    padding-bottom: 30px
}
.SpotsSearchItemImgContainer {
    width: 100%;
    height:  12vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.SpotsSearchItemImg img {
    width: 100%;
}

.SpotName {
    font-size: 19px;
    font-weight: bold;
    color: rgb(27,27,27)
}

.spotsSearchDescriptionItems {
    width: 100%;
    font-size: 15px;
    color:rgb(150,150,150);
    line-height: 27px;
}

.SpotSearchSpotTypes {
    display: flex;
}

.spotsSearchDescriptionTypes span:last-of-type{
    display: none;
}

.spotsSearchDescriptionItems li:last-of-type span {
    color: rgb(27,27,27);
    font-weight: 500;
    font-size: 16px;
}

.SearchGoogleMap {
    width:50%;
    height: 100vh;
    top: 0px;
    right: 0px;
    position: fixed !important; 
}

.SpotsSearchMapContainer {
    position: relative;
}