.AccountBookingsOuterContainer, .AccountOuterContainer{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    
}

.AccountBookingsOuterContainer > ul , .AccountOuterContainer > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 900px;
    border:1px solid rgb(222,222,222)
}


.AccountBookingsOuterContainer > ul > li , .AccountOuterContainer > ul > li {
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

.AccountNavOuterContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.AccountNavContainer {
    display: flex;
    align-items: center;
    width:1232px;
    justify-content: space-between;
    border-bottom: 1px solid rgb(222,222,222);
}

.AccountPageLogo  {
    display: flex;
    align-items: center;
    border-right: 1px solid rgb(222,222,222);
    height: 70px;
}

.AccountNavBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px
}

.AccountNavBar li :not(.hamburgerMenu, .fa-solid, .AccountPageLogo > a,  .AccountPageLogo .logoPng){
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.AccountNavLink {
    text-decoration: none;
    color: rgb(51,51,51)
}


.AccountNavLink.active  {
 border-bottom:2px solid rgb(0, 197, 133);
 height: 70px;
 display: flex;
 align-items: center;
 justify-content: center;
 font-weight: bold;
}

.BookingsList {
    width: 700px;
}

.BookingsList img {
    width:100%
}

.BookingListImgContainer {
    width:100%;
    height: 11vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BookingListInfoContainer {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(222, 222, 222);
    border-top: none;
}

.BookingListInfoLeft {
    padding: 15px 30px 30px 30px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.BookingListInfoRight {
    display: flex;
    flex-direction: column;
}

.BookingListInfoRight button {
    padding: 20px;
    margin:30px 30px 0 30px;
}

.FuturePill {
    border-radius: 100px;
    background-color:rgb(0, 197, 133);
    color: rgb(255,255,255);
    font-weight: 500;
    padding: 5px 20px;
    font-size:15px;
}

.PastPill {
    border-radius: 100px;
    background-color: rgb(120,120,120);
    color: rgb(255, 255, 255);
    font-weight: 500;
    padding: 5px 20px;
    font-size: 15px;
}

.accountSpotName {
    padding: 15px 0
}

.BookingListInfoContainer h3 {
    line-height: 24px;
}

.EditBookingModalContainer {
    overflow: hidden;
    height:0px;
    transition: height .3s ease-in-out;

}

#errors {
    border:none;
}

.EditBookingModalContainer .react-calendar--doubleView {
    border-radius: 0px;
    border-top: none;
}

.EditBookingGuestsSelectorContainer {
    width: 100%;
    padding-left: 10px;
    position: relative;
}

#EditBookingGuestsSelectorButton {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid rgb(222, 222, 222);
    height: 45px;
    width: 100%;
    justify-content: left;
    font-size: 16px;
    align-items: center;
    color: rgb(60, 60, 60);
}

#EditBookingGuestsSelectorButton i {
    padding: 10px;
    color: rgb(0, 0, 0);
}

.EditBookingGuestsModalContainer {
    border: 1px solid rgb(222, 222, 222);
    border-top: none;
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    right: 0;
    left: 0
}

.EditBookingGuestsModalList>li, .submitButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    border-bottom: 1px solid rgb(222, 222, 222)
}

.EditBookingGuestsModalList {
    display: flex;
    flex-direction: column;
}

.EditBookingGuestsModalList li:last-of-type,
.submitButtons {
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(222, 222, 222);
    margin:0;
    
}

.EditBookingGuestsModalList li:last-of-type div,
.submitButtons div {
    height: 70px;
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.EditBookingGuestsModalList li:last-of-type div:hover, .submitButtons div:hover {
    background-color: rgb(0, 197, 133);
    color: rgb(255,255,255)
}

.EditBookingGuestsModalList li:last-of-type div:first-of-type, .submitButtons div:first-of-type {
    border-right: 1px solid rgb(222, 222, 222)
}

.CreateReviewModalContainer {
    width:100%;
    display: flex;
    height:0px; 
    overflow: hidden;
    flex-direction: column;
    border: 1px solid rgb(222,222,222);
    border-top: none;
    box-sizing: border-box;
    transition: height .3s ease-in-out;
}

.thumbsContainer {
    display: flex;
    padding: 20px ;
}

.thumbsContainer input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.thumbsContainer label {
    padding: 24px;
    margin:10px;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 12px;
    font-size:18px ;
}

.thumbsContainer i {
    font-size: 28px;
    padding-right: 10px;;
}

.thumbsContainer input[type="radio"].thumbsUp:checked + label {
    background-color: rgb(0, 197, 133);
    color: rgb(255,255,255)
}

.thumbsContainer input[type="radio"].thumbsDown:checked + label {
    background-color: rgb(191, 53, 37);
    color: rgb(255, 255, 255)
}



.ReviewBodyContainer {
    display: flex;

}

.ReviewBodyContainer textarea {
    height: 120px;
    width:100%;
    padding: 20px;
    margin: 0 20px 20px 20px;
    font-family:'Roboto', sans-serif;
    font-size: 16px;
}
.CreateReviewModalContainer h2 {
    padding: 20px 0 0 20px
}

.delete-review {
    width: 200px;
    background-color: rgb(0, 197, 133);
    border-radius: 100px;
    padding: 10px 0;
    border-style: none;
    color:rgb(255, 255, 255);
    align-self: center;
    margin-bottom: 10px;
}

.AccountOuterContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.AccountOuterContainerRow > div {
    width: 30%;
    padding:30px 0 30px 30px;
    font-size: 14px;
    font-weight: bold;
    cursor: default;
}

.AccountOuterContainer form {
    width: 800px;
    max-width: 80%;
    border: 1px solid rgb(222, 222, 222)
}

.AccountOuterContainerRow {
    display: flex;
    width: 100%;
}

.AccountOuterContainerRow input {
    border-style: none;
    width: 100%;
    padding-left: 10px
}

.AccountDelete {
    width: 100%;
    text-align: center;
    padding: 30px 0px;
    border:1px solid rgb(222, 222, 222);
    border-top-style:none ;
    width: 800px;
    max-width: 80%;
    cursor: pointer;
}

.thumbsContainer label {
    width: 250px;
}

@media only screen and (max-width: 600px) {
    .AccountNavLink {
        display: none !important; 
        border:none
    }
    .BookingsList {
        width: 100%;
    }
    .BookingListImgContainer {
        height: 16vh;
    }
    .BookingListInfoContainer {
        border: none;
        border-bottom: 1px solid rgb(222, 222, 222);
        flex-direction: column;
    }
    .BookingListInfoRight .CancelTrip {
        margin-bottom: 30px;
    }
    .AccountBookingsOuterContainer > ul, .AccountOuterContainer > ul {
        border:none;
    }
    .thumbsContainer {
        flex-direction: column;
        align-items: center;
    }
    .AccountNavBar .hamburgerMenu {
        margin-left:  24px;
    }
    .AccountPageLogo {
        border: none;
    }
    .AccountPageLogo > a {
        padding: 0px;
    }
    .AccountPageLogo .logoPng {
        padding: 0;
    }
}

@media only screen and (max-width: 750px) and (min-width: 601px) {
.BookingsList {
        width: 90%;
    }
}

@media only screen and (max-width: 800px) {
    .EditBookingModalContainer > .react-calendar--doubleView {
        width: 100% !important;
    }
}