@media only screen and (max-width: 600px) {
    .mobileHide {
        display: none;
    }
}

.errors {
    margin-top:15px;
    padding: 10px;
    color: red;
    width: 100%;
    background-color: #fdf0ef;
    box-sizing: border-box;
}