@media only screen and (max-width: 600px) {
    .mobileHide {
        display: none;
    }
}

.errors {
    margin-top:15px;
    padding: 10px;
    color: red;
    width: 100%;
    background-color: #fdf0ef;
    box-sizing: border-box;
}

.siteBody{ 
    top: 70px;
    position: relative;
    max-width: 1280px;
    margin:0 auto
}