@media only screen and (max-width: 600px) {
    .mobileHide {
        display: none;
    }
}

.errors {
    margin-top:15px;
    padding: 10px;
    color: red;
    width: 100%;
    background-color: #fdf0ef;
    box-sizing: border-box;
}

.siteBody{ 
    position:absolute;
    top: 70px; 
    width: 100vw;
    margin:0 auto;
    z-index: -100;
}