.pageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100%;
    background-color: rgb(243, 242, 239);
    justify-content: center;
    }

.SplashContainer {
    background-color: rgb(243, 242, 239);
    padding-top: 70px;
    width: 100%;
    max-width: 1232px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.SplashContainer > div:last-of-type {
    width: 100%;
    text-align:left;
    padding: 100px 0 30px 0;
}

.SplashTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:60px 0;
    color: rgb(40, 64, 12);
    font-weight: 800;
    width: 100%;
}

.SplashTextContainer h1 {
    font-size: 60px;  
}

.SplashTextContainer h2 {
    padding-top:15px;
    max-width: 450px;
    text-align: center;
    line-height: 35px;
    font-weight: 500;
}

.SearchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:95%
}

.SplashSearchBarContainer {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    padding: 20px 50px;
    line-height: 25px;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    background-color: rgb(243, 242, 239);
    border: 1px solid rgb(229, 234, 223);
    border-radius: 200px;
    z-index: 10;
}
.splashSearchInputs {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;
}

.DateSelectorContainer,
.GuestsSelectorContainer,
.SearchInputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 10px;
    position: relative;
}

#splashDatesSelectorButton,
#splashGuestsSelectorButton,
#SearchSelectorButton {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid rgb(222, 222, 222);
    height: 45px;
    background-color:rgb(255,255,255);
    width: 100%;
    justify-content: left;
    font-size: 16px;
    align-items: center;
    color: rgb(60, 60, 60);
}

#DatesSelectorButton i,
#GuestsSelectorButton i {
    padding: 10px;
    color: rgb(0, 0, 0);
}

.DateSelectorContainer.splash,
.GuestsSelectorContainer.splash {
    max-width: 240px;
    width: 100%;
}

.SearchInputContainer {
    width: 100%;
    max-width: 480px;
}

.splashSearchInputs i {
    padding-left: 5px;
}

.searchPill {
    display: flex;
    font-size: 18px;
    margin-left: 10px;
    justify-content: center;
    background-color: rgb(0, 197, 133);
    color: rgb(255, 255, 255);
    width: 45px;
    text-align: center;
    height: 45px;
    border-radius: 100px;
    align-items: center;
    border: 1px solid transparent;
    box-sizing: border-box;
    transition: background-color 0.2s ease-in-out,border-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.searchPill:hover {
    background-color: rgb(255,255,255);
    border-color: rgb(0, 197, 133);
    color: rgb(0, 197, 133);
}

.imageContainer {
    width: 100%;
    margin-top: -55px;
    max-height: 480px;
    overflow: hidden;
    border-radius: 24px;
    display: flex;
    align-items: center;
}

.searchImage {
    width:100%;
    z-index:0;
    overflow: hidden;
    margin-top: -40px;
}

.SplashDoubleContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    overflow: visible;
    margin-top: 40px;
}

.DoubleItemImage img {
    height: 405px;

}


.DoubleItemContainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    max-width: 604px;
    width: 100%;
    border-radius: 24px;
    transition: transform .5s ease-in-out;
}
    
.DoubleItemContainer:hover {
    transform: translateY(-10px);
}


.DoubleItemLabel {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: rgb(224, 80, 40);
    padding: 24px 32px;
    color:rgb(255, 255, 255);
    margin-top: -140px;
    z-index: 100;
}

.DoubleItemLabelText {
    display: flex;
    flex-direction: column;
    width:50%
}

.DoubleItemLabelText h3 {
    font-size: 13px;
    padding-bottom: 15px;
}

.DoubleItemLabelText p {
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 15px;
}

.DoubleItemContainer button {
    border:none;
    background: white;
    border-radius: 100px;
    padding:16px 50px;
    font-size: 18px;
    color: rgb(224, 80, 40);
    align-self: center;
    transition:color .5s ease-in-out, background .5s ease-in-out, border .5s ease-in-out;
}

.DoubleItemContainer button:hover {
    border: 1px white solid;
    background:rgb(224, 80, 40); 
    color: white;
}

.SplashDateModalContainer {
    position: absolute;
    top: 80px;
    right: -350px;
    z-index: 1000;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 16%) 0px 2px 4px 0px;
    border-radius: 12px;
}

.DateSelectorContainer.splash i , .GuestsSelectorContainer.splash i, .SearchInputContainer i {
    padding: 0 10px
}

.SplashGuestsModalList {
    display: flex;
    flex-direction: column;
}

.SplashGuestsModalContainer {
    position: absolute;
    top: 80px;
    z-index: 1000;
    box-shadow: rgb(0 0 0 / 16%) 0px 2px 4px 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    right: 0;
    left: 0
}

.SplashGuestsModalList>li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    border-bottom: 1px solid rgb(222, 222, 222)
}

#SearchSelectorButton input {
    height:100%;
    width: 100%;
    border:none;
    font-size: 20px;
    font-weight: 400;
    color: rgb(60, 60, 60);
}

#SearchSelectorButton input::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: rgb(160,160,160);
}

#SearchSelectorButton input:focus {
    outline-width: 0;
}

#SearchSelectorButton {
    overflow: hidden;
}
.pac-icon {
    display: none;
}
.pac-item {
    line-height: 60px;
}
.pac-container {
    border-radius: 12px;
}
.SplashDateModal {
    z-index: 100000 !important;
}


@media only screen and (max-width: 1232px) {

    .DateSelectorContainer.splash,
    .GuestsSelectorContainer.splash,
    .SearchInputContainer.splash {
        max-width: inherit;
    }

    .searchPill {
        width: 100%;
        margin: 20px 0 30px 0
    }

    .imageContainer {
        width: 90vw;
    }

    .SplashDoubleContainer {
        width: 90vw;
        flex-direction: column;
        align-items: center;
    }

    .DoubleItemImage {
        width: 90vw;
    }

    .DoubleItemLabelText {
        line-height: 14px;
    }

    .DoubleItemContainer {
        margin-bottom: 40px;
        height: 100%;
    }

    .DoubleItemLabelText p {
        line-height: 26px;
    }

    .SplashDateModalContainer {
        right: inherit;
        left: 0;
    }
}

@media only screen and (max-width: 800px) {
    .DateSelectorContainer .react-calendar--doubleView {
        width: calc(100vw - 40px) !important;;
    }
    .SplashDateModalContainer {
        left: -30px;
    }
    .SplashSearchBarContainer {
        padding: 20px 35px;
    }   
    .SearchContainer {
        width: 100%;
    }
    .DoubleItemLabelText {
        width: 75%
    }
}

@media only screen and (max-width: 442px) {
    
         
         
        
    

}