.hamburgerMenu {
    display: none;
}


#profileButttonContainer {
    position: relative;
    align-self: center;
}

.profileButton {
    color: #777777;
    font-size: 28px;
}



li {
    list-style-type: none;
}

.profileMenu {
    background-color: #FFFFFF;
    width: 240px;
    height: 240px;
    position: absolute;
    right:0;
    top: 50px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    border-radius: 4px;
    z-index: 100;

}

.profileMenu ul {
    width: 240px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 16px;
}

.profileMenu li {
}


.rightNavContainer{ 
    display: flex;
    justify-content: left;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.rightNavContainer a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-top:4px
}



.underline:hover {
    border-bottom: 2px solid rgba(0,197,133, 1);
    
}
.underline {
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.25s ease 0s;
    cursor: pointer;
}


#navBarContainer {
    z-index: 1000;
    position: fixed;
    width: 100vw;
    background-color: rgb(243, 242, 239);
}

.navBar {
    margin:0 auto;
    justify-self:end;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-content: center;
    align-items: center;
    height: 70px;
    align-items: center;
    background-color: rgb(243, 242, 239);
    max-width: 1256px;
    padding-left:24px;
    
}

#rightNav {
    display: flex;
    align-items: center;
    height: 70px;
    padding-inline-start: 1px;
    
}

#rightNav li {
    margin:0 16px;
}

.navBar li {
    font-family: 'Roboto', sans-serif;
}

.profileMenu li{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    color: rgba(0, 0, 0, 1);

    
}
.profileMenu li a {
    color: rgba(0, 0, 0, 1);
    border-bottom: 1px solid rgb(194, 194, 194);
    text-decoration: none;
}

.logo {
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
    color: rgb(196, 71, 71);
    
}

.logoPng {
    width: 150px;
    margin-bottom: -10px;   
}
.logoIcon {
    width: 35px
}

.signupPill {
    background-color: rgb(0, 197, 133);
    height:36px;
    padding: 0 20px;
    margin: 0 0 20px 0;
    border-radius: 100px;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    box-sizing: border-box;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.signupPill:hover {
    background-color: transparent;
    border-color: rgb(0, 197, 133);
}

.signupPill  a {
    color: white;
    transition: color 0.2s ease-in-out
}
.signupPill:hover a {
    color: rgb(0, 197, 133);
}
#menuLogo {
    display: flex;
}

.hamburgerMenuContainer {
    display: none;
}

@media only screen and (max-width: 600px) {
    .hamburgerMenu {
        display: block;
        border-radius: 6px ;
        background-color: rgb(255,255,255);
        border: 1px solid rgb(222,222,222);
        padding: 10px;
        margin-right: 10px;
    }

    .logoPng {
        margin-bottom: -15px;
    }
        
    .hamburgerMenuContainer {
        width:100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;


    }

    .hamburgerMenuContainer li {
        display: flex;
        justify-content: space-between;
        margin: 0px 25px;
        padding: 27px 0px;
        border-bottom: 1px solid rgb(222, 222, 222);

    }

    .hamburgerMenuContainer a, .hamburgerMenuContainer p {
        font-size: 20px;
        font-weight: 500;
        color: rgb(0, 0, 0); 

        text-decoration: none;
    }
        
    #closeXLi  {
        border-style: none;

    }

    #closeXLi i {
       font-size: 22px;
    }
}